@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --editing-bg-color: rgb(241 245 249);// tailwind bg-slate-100
}

body {
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}

a {
  @apply underline;
}

.baseContainer {
  @apply container mx-auto px-4;
}

.error-message {
  @apply text-red-500;
}

.button {
  @apply rounded border-2 py-2 px-4 bg-white border-gray-300;
}

.button-primary {
  @apply rounded border-2 py-2 px-4 bg-blue-400 border-blue-400 text-white;
}

.button-secondary {
  @apply rounded border-2 py-2 px-4 bg-white border-gray-300 text-gray-500;
}

.button-danger {
  @apply rounded border-2 py-2 px-4 bg-red-700 border-red-700 text-white;
}
